@charset "utf-8";
@import url(http://piw0123.dothome.co.kr/common/reset.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
body, select{font: 12px/1.3 'Nanum Gothic',"나눔고딕",Arial,sans-serif; color: 222px;}
#header{position: relative;}
.skipmenu a{width: 100%; background-color: #000; color: #fff; position: absolute; left: 0; top: -500px; text-align: center; padding: 8px 0; z-index: 3;}
.skipmenu a:focus{top: 0;}
#header-wrap{width: 100%; background-color: #ccc; position: fixed;z-index: 2;}
#header-wrap-2{max-width: 1500px; margin: 0 auto; text-align: center; background-color: #ccc;}
#header-wrap-2:after{content:""; display: block; clear: both;}
#header-wrap-2 h1 > a{display: block; width: 280px; height: 96px; background: url(../images/common/main-logo.png) 0 0 no-repeat; float: left; margin-left: 40px; text-indent: -9999px;}
#gnb-wrap > nav > ul{float: right; color: white; font-size: 15px;}
#gnb-wrap > nav > ul:after{content:""; display: block; clear: both;}
#gnb-wrap > nav > ul > li{float: left; position: relative;}
#gnb-wrap > nav > ul > li:last-child{margin-right: 25px;}
#gnb-wrap > nav > ul > li > a{display: block; line-height: 96px; padding:0 15px; margin-left: 50px; text-shadow: 1px 1px 1px #434343}
#gnb-wrap .gnb-w-1{color: black; position: absolute;left: 30px; width: 100%; background-color: #fff;text-align: left;font-size: 13px; padding: 15px;line-height: 27px; border-top: 1px solid #aaa;}
#gnb-wrap .gnb-w-1 ul > li{border-bottom: 1px solid #ccc;}
#gnb-wrap .gnb-w-1 ul > li > a{display: block;}
#gnb-wrap .gnb-w-1 ul:hover{color: #ccc; text-shadow: none;}
#gnb-wrap .gnb-w-1 ul > li:hover{border-bottom: 1px solid black; color: black;}

/* footer */
#footer{background-color: #ccc;}
#footer-wrap{max-width: 1500px; margin: 0 auto; overflow: hidden;padding: 20px 0;}
#footer-wrap h3{width: 140px; height: 92px;float: left; background: url(../images/common/main-logo-footer.png) 0 0 no-repeat; text-indent: -9999px; margin-top: 11px; margin-left: 40px;}
#footer-wrap .footer-c{float: left; margin-left: 15%; letter-spacing: 1px; line-height: 17px;}
#footer-wrap .sns{float: right; margin-right: 8%;}
#footer-wrap .sns ul:after{content:""; display: block; clear: both;}
#footer-wrap .sns ul > li{float: left; margin-right: 15px; margin-top: 10px;}




