@charset "utf-8";

/* container */
#visual-slider-list .bx-wrapper{border: none; box-shadow:none;}
.bx-wrapper .bx-controls-direction a{width: 40px; height: 67px; z-index: 0; transform: translateY(-50%);}
.bx-wrapper .bx-prev{left: 0; background: url(../images/main/btn-prev.png) 0 0 no-repeat;}
.bx-wrapper .bx-next{right: 0; background: url(../images/main/btn-next.png) 0 0 no-repeat;}
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus{background: url(../images/main/btn-prev-on.png) 0 0 no-repeat;}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{background: url(../images/main/btn-next-on.png) 0 0 no-repeat; background-position: 0 0;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{bottom: 30px;}
.bx-wrapper .bx-pager.bx-default-pager a{background: white;}
#visual-slider-list{position: relative;}
#visual-slider-list ul > li > a{position: absolute; display: block; top: 22%; left: 15%; background: url(../images/main/main-visual-a.png) center no-repeat; min-width: 400px; min-height: 300px; font-size: 13px; white-space: nowrap; padding: 40px; line-height: 30px; letter-spacing: 3px;}
#visual-slider-list ul > li > a:before{content: '';display: block;width: 100%;height: 100%;background: rgba(255,255,255,0.7) url(../images/main/main-visual-a-on.jpg) center no-repeat;background-size: 0%;position: absolute;top: 0;left: 0;transition: .7s}
#visual-slider-list ul > li > a:hover:before,#visual-slider-list ul > li > a:focus:before{background: url(../images/main/main-visual-a-on.jpg) center no-repeat;background-size:100%;}
#visual-slider-list ul > li > a > div{position: absolute;z-index: 2;}
#visual-slider-list ul > li > a > div > strong{font-size: 30px;}
#visual-slider-list ul > li > a > div > p.mv-1{margin-top: 30px; font-size: 18px; margin-bottom: 10px;}
#visual-slider-list ul > li > a > div > strong:after,#visual-slider-list ul > li > a > div > p.mv-2:after{content:""; display: inline-block; width: 100px; height: 1px; vertical-align: middle; background-color: black; margin-left: 10px;}
#content-wrap{max-width: 1300px; margin: 0 auto;}
#content-wrap .content-1{overflow: hidden;margin-bottom: 60px;}
#content-wrap .ct-1 > img,#content-wrap .ct-3 > img{float: left; max-height: 700px; margin-left: 75px;}
#content-wrap .ct-1 > div,#content-wrap .ct-3 > div{float: right; max-width: 450px;  margin-right: 120px;}
#content-wrap .ct-2 > img{float: right; max-height: 700px; margin-right: 75px;}
#content-wrap .ct-2 > div{float: left; max-width: 450px; margin-left: 120px;}
#content-wrap .ct-3{border-bottom: 1px solid #ccc; padding-bottom: 60px;}
#content-wrap .text-box h2{font-size: 40px; margin-top: 260px; margin-bottom: 20px;}
#content-wrap .text-box h3{font-size: 18px; margin-bottom: 20px;}
#content-wrap .text-box p{font-size: 15px; padding-bottom: 30px;}
#content-wrap .text-box a{background: darkgray; font-size: 15px; padding: 10px; border: 1px solid #ccc;}
#content-wrap .text-box a:hover{color: #000; background-color: white; border: 1px solid #ccc;}
#content-wrap-2{max-width: 1200px; margin: 0 auto;}
#content-wrap-2 .ct-w{text-align: center; margin-bottom: 60px;}
#content-wrap-2 .ct-w > ul{width: 100%;}
#content-wrap-2 .ct-w > ul:after{content:""; display: block; clear: both;}
#content-wrap-2 .ct-w > ul > li{float: left; margin-right: 4.16%;}
#content-wrap-2 .ct-w > ul > li > a{display: block; line-height: 40px; width: 200px;border: 1px solid #ccc; height: 200px;}
#content-wrap-2 .ct-w > ul > li:last-child{margin-right: 0;}
#content-wrap-2 .ct-w > ul > li > a > h3{font-size: 16px; margin-top: 115px; letter-spacing: 3px; text-shadow: 1px 1px 1px #ccc;}
#content-wrap-2 .ct-w > ul > li > a > h3:after{content:""; display: block; width: 50px; height: 1px; background-color: black; margin: 0 auto;}
#content-wrap-2 .bg-1{background: url(../images/main/main-ct-1.png) center 10px no-repeat;}
#content-wrap-2 .bg-2{background: url(../images/main/main-ct-2.png) center 10px no-repeat;}
#content-wrap-2 .bg-3{background: url(../images/main/main-ct-3.png) center 10px no-repeat;}
#content-wrap-2 .bg-4{background: url(../images/main/main-ct-4.png) center 10px no-repeat;}
#content-wrap-2 .bg-5{background: url(../images/main/main-ct-5.png) center 10px no-repeat;}
#content-wrap-2 .bg-1:hover{background: url(../images/main/main-ct-1-on.png) center 10px no-repeat;}
#content-wrap-2 .bg-2:hover{background: url(../images/main/main-ct-2-on.png) center 10px no-repeat;}
#content-wrap-2 .bg-3:hover{background: url(../images/main/main-ct-3-on.png) center 10px no-repeat;}
#content-wrap-2 .bg-4:hover{background: url(../images/main/main-ct-4-on.png) center 10px no-repeat;}
#content-wrap-2 .bg-5:hover{background: url(../images/main/main-ct-5-on.png) center 10px no-repeat;}
#content-wrap-3{background-color: #EFEFEF;}
#content-wrap-3 .ins-w{max-width: 1300px; margin: 0 auto; overflow: hidden; padding: 40px 0;}
#content-wrap-3 .ins-l{float: left;margin-left: 10px;}
#content-wrap-3 .ins-l h3{font-size: 35px; margin-bottom: 30px; width: 146px;}
#content-wrap-3 .ins-l p{color: #727272;}
#content-wrap-3 .ins-l p:after{content:""; display: block; width: 100px; height: 1px; background-color: black; margin-top: 30px;}
#content-wrap-3 .ins-r{float: right;}
#content-wrap-3 .ins-r > ul{max-width: 1020px; overflow: hidden;}
#content-wrap-3 .ins-r > ul > li{float: left; margin: 5px; background: #fff; padding: 8px; position: relative; box-shadow: 0 1px 3px rgba(0,0,0,0.1);}
#content-wrap-3 .ins-r > ul > li > a,#content-wrap-3 .ins-r > ul > li > a > img{display: block; position: relative;}
#content-wrap-3 .ins-r > ul > li > a{overflow: hidden;}
#content-wrap-3 .ins-r > ul > li > a > div{position: absolute; background: rgba(239,239,239,0.7); width: 100%; height: 100%; padding: 10px; font-size: 13px; color: saddlebrown;}
#content-wrap-3 .ins-r > ul > li > a > img{width: 175px; height: 150px;}
#content-wrap-3 .ins-r > ul > li > a > div > span{display: block;padding-bottom: 83px;}
#btn-top{position: fixed; right: 50px; bottom: 50px; background: url(../images/main/btn-scroll.png) 0 0 no-repeat; width: 60px; height: 60px; border: none; text-indent: -9999px;transition:.7s;}
#btn-top:hover{background: url(../images/main/btn-scroll-on.png) 0 0 no-repeat;}

@media (min-width: 1200px){
	#content-wrap-2 .ct-w > ul > li{margin-right: 3.8%;}
}
@media (max-width: 1199px){
	#content-wrap .ct-1 > img,#content-wrap .ct-3 > img{margin-left: 40px;}
	#content-wrap .ct-1 > div,#content-wrap .ct-3 > div{margin-right: 40px;}
	#content-wrap .ct-2 > img{margin-right: 40px;}
	#content-wrap .ct-2 > div{margin-left: 40px;}
	#content-wrap-2 .ct-w > ul > li:nth-child(4){display: none;}
	#content-wrap-2 .ct-w > ul{max-width: 915px; margin: 0 auto;}
	#content-wrap-3 .ins-l{float: none; margin-left: 0; text-align: center;}
	#content-wrap-3 .ins-l h3{width: 196px; margin: 0 auto; margin-bottom: 15px;}
	#content-wrap-3 .ins-l p{ margin-bottom: 15px;}
	#content-wrap-3 .ins-l p:after{content:none;}
	#content-wrap-3 .ins-r{margin: 0 auto; max-width: 1005px; float: none;}
}
@media (max-width: 1022px){
	#content-wrap-3 .ins-r > ul > li:nth-child(5),#content-wrap-3 .ins-r > ul > li:nth-child(10){display: none;}
	#content-wrap-3 .ins-r{max-width: 804px;}
}
@media (max-width: 1099px){
	#content-wrap .content-1 > div{width: 230px;}
}
@media (max-width: 931px){
	#content-wrap .ct-1 > img, #content-wrap .ct-3 > img{max-width: 442px;}
	#content-wrap .text-box h2{margin-top: 200px;}
	#content-wrap-2 .ct-w > ul{max-width: 418px;}
	#content-wrap-2 .ct-w > ul > li:nth-child(2),#content-wrap-2 .ct-w > ul > li:nth-child(4){margin-right: 0;}
}
@media (max-width: 820px){
	#content-wrap-3 .ins-r > ul > li:nth-child(5){display: block;}
	#content-wrap-3 .ins-r{max-width: 603px;}
@media (max-width: 619px){
	#content-wrap-3 .ins-r > ul > li:nth-child(10){display: block;}
	#content-wrap-3 .ins-r{max-width: 402px;}
}
@media (max-width: 434px){
	#content-wrap-2{display: none;}
	#content-wrap-3 .ins-r{max-width: 278px;}
	#content-wrap-3 .ins-r > ul > li > a > img{ width: 250px; height: 225px;}
}
